@font-face {
    font-family: 'headingText';
    src: url('./assets/fonts/Lexend-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'lowerHeaders';
    src: url('./assets/fonts/ZillaSlab-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'bodyText';
    src: url('./assets/fonts/LexendExa-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-rows: 1fr 7fr;
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
